
.header-navigator-item :hover {

    color: brown;

}

.header-navigator-item-ctas :hover {

    color: brown;
}

.logo {

font-family: 'Raleway', sans-serif;
font-weight: 700;
color: rgba(77, 90, 229, 1);

}

